<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<meta charset="UTF-8">
<title>Create user</title>
</head>
<body>
<form action="#" th:action="@{/genre-update}" th:object="${genre}" method="post">
  <label for="genreId">ID</label>
  <input readonly type="number" th:field="*{genreId}" id="genreId" placeholder="ID">
  <br/>
  <br/>
  <label for="genreName">Genre name</label>
  <input type="text" th:field="*{genreName}" id="genreName" placeholder="Genre Name">

  <input type="submit" value="Update Genre">
</form>
</body>
</html>